@charset "utf-8";
@import url("reset.css");
@import url("style.css");
.container_contacts {
	border: 1px solid #DCDCDC;
	width: 990px;
	margin: 20px auto 0px;
	border-radius: 5px;
	background: #fff;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.container_contacts h1 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 15pt;
	font-weight: bold;
	margin: 10px 20px;
	color: #333333;
}
.container_contacts h2 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	margin: 10px 20px;
	color: #333333;
}
.container_contacts ul {
	list-style: outside;
	margin-left: 50px;
	margin-top: 5px;
}
.container_contacts ul li {
	margin-top: 5px;
}
#text {
	margin: 10px;
	font-size: 15px;
	line-height: 20px;	
	padding-top: 20px;
	padding-bottom: 5px;
	border-top: 1px #ebebeb solid;
	border-bottom: 1px #EBEBEB solid;
}