@charset "utf-8";
/* CSS Document */
#base {
	width: 100%;
	border: 1px solid white;
	margin-top: 20px;
}
.goods {
	width: 950px;
	margin: 5px auto;
	height: auto;
	border: 1px solid #E8E8E8;
	padding: 10px;
}
.goods h1 {
	font-weight: bold;
}
.goods h6 {
	font-size: 13px;
}
.goods img {
	width: 150px;
	height: 150px;
	float: left;
}
.goods a:hover {
	text-decoration: underline;
}